footer {
  height: 767px;
  position: relative;
}

.sofa-img {
  position: absolute;
  right: 136px;
  top: -143px;
}
footer > p {
  padding-top: 88px;
  padding-left: 145px;
  font-weight: 600;
  font-size: 18px;
}
.footer-logo {
  margin-top: 162px;
  padding-left: 100px;
  display: flex;
  align-items: center;
}
.footer-logo input {
  border: 1px solid rgba(196, 196, 196, 1);
  max-width: 262px;
  height: 46px;
  border-radius: 10px;
  padding-left: 64px;
}
.footer-logo input:nth-child(2) {
  margin-right: 19px;
}

.footer-container {
  display: flex;
}

.footer-txt {
  font-weight: 400;
  color: rgba(106, 106, 106, 1);
  max-width: 360px;
}

.footer-logo button {
  margin-left: 19px;
  width: 50px;
  height: 47.7px;
  background-color: rgba(53, 115, 110, 1);
  border: 1px solid rgba(53, 115, 110, 1);
  border-radius: 10px;
}

.footer-container {
  margin-top: 12px;
  margin-left: 100px;
}

.footer-container ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-container ul li {
  font-weight: 400;
  color: rgba(106, 106, 106, 1);
  font-size: 14px;
}

.line-break {
  border: 1px solid rgba(239, 242, 241, 1);
  margin: 32px 106px 0 64px;
}

.privacy-policy {
  display: flex;
  gap: 42px;
  justify-content: right;
  padding-right: 295px;
  margin-top: 30px;
}
.privacy-policy p,
.copyright {
  color: rgba(106, 106, 106, 1);
  font-weight: 400;
  font-size: 14px;
}

.copyright {
  text-align: center;
  font-size: 13px;
  margin-top: 83px;
  padding-bottom: 55px;
}
