.testimonial-section {
  margin-top: 115px;
}
.testimonial-area {
  width: 100% !important;
}
.carousel-indicators {
  bottom: -80px !important;
}
.section-header h4 {
  font-size: 34px;
  font-weight: 600;
  color: rgba(47, 47, 47, 1);
}
.icon-area {
  text-align: center;
  display: flex;
  justify-content: center;
}
.icon-area p {
  height: 124px;
  font-weight: 400;
  font-size: 18px;
  width: 759px;
  text-align: center;
  margin-top: 44.22px;
}
.content {
  margin-top: 246px;
}
.content h5 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 13px;
}
.content h6 {
  color: rgba(47, 47, 47, 1);
  font-size: 13px;
  font-weight: 400;
  margin-top: 4px;
}

.carousel .carousel-indicators li {
  background-color: rgba(217, 217, 217, 1);
  width: 10px;
  height: 10px;
  bottom: -500px;
  border-radius: 500%;
}

.carousel .carousel-indicators li.active {
  background-color: rgba(56, 93, 80, 1);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 58px !important;
  height: 54.57px !important;
  border-radius: 50%;
  background-color: rgba(106, 106, 106, 1) !important;
  position: absolute;
  transition: all 0.4s ease;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  background-color: rgba(255, 215, 72, 1) !important;
}
.carousel-control-prev-icon {
  top: 10%;
  background-image: url("images/Vector (2).svg") !important;
  background-size: 8px !important;
  align-items: flex-start;
}

.carousel-control-next-icon {
  top: 10%;
  background-image: url("images/images/Vector (1).svg") !important;
  background-size: 8px !important;
  align-items: flex-end;
}
